/*
 _______ _______ _______ ______ _______ ______ ________ _______
|_     _|_     _|   |   |   __ \   _   |   __ \  |  |  |    ___|
  |   |  _|   |_|       |   __ <       |   __ <  |  |  |    ___|
  |___| |_______|__|_|__|______/___|___|______/________|_______|

  respect this hustle
  © tim krajcar <allegro@conmolto.org>
*/

@import url(http://fonts.googleapis.com/css?family=Francois+One);

body {
    color: #444;
}

header.site-header {
  margin-top: 5px;
  border-top: 0;
}

.page-content {
  padding-top: 10px;
}

h1, h2, h3 {
    font-family: 'Francois One', sans-serif;
}

.site-title {
  font-family: 'Francois One', sans-serif;
  font-size: 44px;
}

.site-title, .site-title:visited {
    color: #009BC2 !important;
}

.site-title:hover {
  color: #00ccff !important;
  text-decoration: none;
}

h2, h3 {
  text-transform: uppercase;
}

article.post-content h2, article.post-content h3 {
  margin: 20px 0 -10px;
}

a {
    color: #009BC2;
}

a:visited {
    color: #009BC2;
}

a:hover {
    color: #00ccff;
}

.post-header {
  margin-bottom: 10px;
}

.post-header h1 {
  font-size: 34px;
  letter-spacing: 0;
}

.posts .post-link {
  letter-spacing: 0;
  font-family: 'Francois One', sans-serif;
  text-transform: uppercase;
}
.posts .summary {
  font-size: 90%;
  margin-top: 3px;
}

.about {
  margin-top: 10px;
  padding-left: 5px;
  text-align: right;
  font-size: 85%;
}

.post pre, .post code {
  background-color: #fffff5;
}

.post-content blockquote {
  margin: 15px 0;
}

@media only screen and (max-width:520px) {
  .posts li {
    margin-bottom: 15px;
  }
  .site-title {
    font-size: 32px;
    line-height: 36px;
    float: none;
  }
  .about {
    margin-top: 0;
    text-align: left;
    display: block;
  }
  .posts .post-link {
    font-size: 20px;
  }
  .post-header h1 {
    font-size: 26px;
  }
}
